@using Microsoft.AspNet.Identity;
@model List<DummyUsersLukeTom.Models.ApplicationUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your secret page</h1>
<p>Welcome</p>

<div>
    @{
        var currentUser = @Model.Find(x => x.Id == User.Identity.GetUserId());
    }

    <p>Hi, @currentUser.FullName</p>
    <p>Your security stamp is @currentUser.SecurityStamp</p>
    <p>Your email address is @currentUser.Email</p>

</div>



<p>Luke was violated by a llama.</p>
